## A rapid screening model for identifying bridge vulnerability in U.S. counties
### Matt Williams, P.E.
#### December 19th, 2024

This python notebook is a wrapper used to process all input data associated with this project. Run each code block sequentially to re-construct the processed used by the author to determine county bridge vulnerabilities. A preview of the output from each script is shown for context. The entire collection of scripts takes approximately 5 minutes to run on the author's computer.

The following libraries are required to run the scripts associated with this study:

* os
* pandas
* geopandas
* NumPy
* SciPy
* Shapely
* statsmodels

### Import libraries for running this wrapper:

In [1]:
import os
import subprocess
import pandas as pd

### Create necessary directories

For the scripts to run correctly, the input data must be downloaded and extracted such that the files are organzied in the following directory structure. All scripts should be in the working directory.

* working directory
  * input
    * census
    * nbi_files
    * noaa_data
  * output
    * census
    * county_groups
    * logs
    * nbi_clean
    * processed_weather
    * structure_age
    * time_series

The following code block will create the required output directory structure.

In [2]:
# Create required output directories
directories = ['output',
               'output/census',
               'output/county_groups',
               'output/logs',
               'output/nbi_clean',
               'output/processed_weather',
               'output/shape_files',
               'output/structure_age',
               'output/time_series'
              ]

for directory in directories:
    os.makedirs(directory, exist_ok = True)

With all scripts and input files in place, the following code block will execute the scripts in the necessary order to ensure proper output is produced.

### 1. Cleanning the NBI
This script reads in the raw bridge inventory data, cleans it, and produces a single file for each year of inventory that contains all bridges in coastal counties. Output is written to '/output/nbi_clean/'

In [3]:
subprocess.run(["python3", "010_nbi_cleaning_v10.py"])

Working on:
	1992
	1993
	1994
	1995
	1996
	1997
	1998
	1999
	2000
	2001
	2002
	2003
	2004
	2005
	2006
	2007
	2008
	2009
	2010
	2011
	2012
	2013
	2014
	2015
	2016
	2017
	2018
	2019
	2020
	2021
	2022
	2023
	2024
Finished

CompletedProcess(args=['python3', '010_nbi_cleaning_v10.py'], returncode=0)

In [4]:
pd.read_csv('output/nbi_clean/out2024.csv').head()

,STATE_CODE_001,STRUCTURE_NUMBER_008,COUNTY_CODE_003,LAT_016,LONG_017,YEAR_BUILT_027,DECK_COND_058,SUPERSTRUCTURE_COND_059,SUBSTRUCTURE_COND_060,CHANNEL_COND_061,...,SCOUR_CRITICAL_113,STATE,ST_CNTY,NUM_RATINGS,MEAN_RATING,LOWEST_RATING,LAT_DEC,LONG_DEC,STATE_STR,geometry
0,2,0176,130,55212367,131422649,1998,6.0,5.0,5.0,8.0,...,5.0,AK,AK130,5,5.696791,5.0,55.356575,-131.707358,020176,POINT (-131.70735833333333 55.356575)
1,2,0177,195,56574045,133551546,2015,7.0,8.0,7.0,8.0,...,8.0,AK,AK195,5,7.583911,7.0,56.961236,-133.920961,020177,POINT (-133.9209611111111 56.96123611111111)
2,2,0178,198,55070414,131324986,1973,6.0,5.0,5.0,7.0,...,5.0,AK,AK198,5,5.546664,5.0,55.117817,-131.547183,020178,POINT (-131.54718333333332 55.11781666666667)
3,2,0179,105,58065993,135272722,2011,8.0,8.0,7.0,8.0,...,7.0,AK,AK105,5,7.583911,7.0,58.116647,-135.457561,020179,POINT (-135.45756111111112 58.11664722222222)
4,2,0180,63,60332629,145451764,2004,7.0,6.0,6.0,9.0,...,5.0,AK,AK063,5,6.470273,5.0,60.557303,-145.754900,020180,POINT (-145.7549 60.55730277777778)

### 2. Structure Age
Using the cleaned NBI data, this script calculates the mean and median ages of the bridges by county. It creates two output. The first, structure_ages.csv, contains the age of each bridge in the dataset. The second output, ages_by_county.csv, contains the mean and median bridge ages for each county. Both outputs are written to 'output/structure_age/'

In [5]:
subprocess.run(["python3", "020_structure_age_v03.py"])

Working on:
	1992
	1993
	1994
	1995
	1996
	1997
	1998
	1999
	2000
	2001
	2002
	2003
	2004
	2005
	2006
	2007
	2008
	2009
	2010
	2011
	2012
	2013
	2014
	2015
	2016
	2017
	2018
	2019
	2020
	2021
	2022
	2023
	2024
	writing shapefile & csv output
Finished

CompletedProcess(args=['python3', '020_structure_age_v03.py'], returncode=0)

In [6]:
pd.read_csv('output/structure_age/ages_by_county.csv').head()

  ST_CNTY   MEAN_AGE  MED_AGE
0   AK013  27.812500     24.0
1   AK016  21.250000     20.5
2   AK020  40.738806     44.0
3   AK050  28.461538     21.0
4   AK060  64.000000     64.0

### 3. Bridge Rating Time Series
Using the cleaned NBI data, this script calculates a time history of mean bridge ratings by bridge using the geometric mean. The output is written to rating_time_series.csv in 'output/time_series/'

In [7]:
subprocess.run(["python3", "030_time_series_v12.py"])

Processing time series...
	1992
	1993
	1994
	1995
	1996
	1997
	1998
	1999
	2000
	2001
	2002
	2003
	2004
	2005
	2006
	2007
	2008
	2009
	2010
	2011
	2012
	2013
	2014
	2015
	2016
	2017
	2018
	2019
	2020
	2021
	2022
	2023
	2024
Finished

CompletedProcess(args=['python3', '030_time_series_v12.py'], returncode=0)

In [8]:
pd.read_csv('output/time_series/rating_time_series.csv').head()

,STATE_STR,geometry,ST_CNTY,1992,1993,1994,1995,1996,1997,1998,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,020176,POINT (-131.70735833333333 55.356575),AK130,6.759549,6.759549,6.942503,6.942503,6.319637,6.319637,6.319637,...,6.127774,5.908354,5.908354,5.908354,5.908354,5.334537,5.334537,5.696791,5.696791,5.696791
1,020177,POINT (-133.9209611111111 56.96123611111111),AK195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.790468,8.790468,7.583911,7.583911,7.583911
2,020178,POINT (-131.54718333333332 55.11781666666667),AK198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.546664,5.546664,5.546664,5.546664,5.546664
3,020179,POINT (-135.45756111111112 58.11664722222222),AK105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.189463,7.189463,7.583911,7.583911,7.583911
4,020180,POINT (-145.7549 60.55730277777778),AK063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.238589,6.238589,6.470273

### 4. Average Bridge Rating by County

The following script uses the output from the bridge rating time series to compile average bridge ratings by county for each year included in the summary. It then calculates the rate of change of bridge ratings over time, 'BR_RATE'. The output, avg_county_rating.csv, is written to 'output/county_groups/'

In [9]:
subprocess.run(["python3", "040_county_avg_rating_v01.py"])

Calculating rate of bridge rating change by county...
Finished

CompletedProcess(args=['python3', '040_county_avg_rating_v01.py'], returncode=0)

In [10]:
pd.read_csv('output/county_groups/avg_county_rating.csv').head()

,ST_CNTY,BR_RATE,1995,1996,1997,1998,1999,2000,2001,2002,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,AK013,0.008642,NaN,6.130556,6.247014,6.247014,6.152283,6.152283,7.176833,7.176833,...,6.849708,6.849708,6.849708,6.849708,6.711220,6.740588,6.753442,6.753442,6.689300,6.715802
1,AK016,-0.000548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.605826,7.576502,7.576502,7.576502,7.603087
2,AK020,0.008939,7.200797,7.117464,7.111114,6.644327,6.322882,6.235048,6.253244,6.233683,...,6.835763,6.834075,6.869676,6.863529,6.850335,6.784719,6.793234,6.852576,6.894141,7.029328
3,AK050,-0.006016,6.255028,6.255028,6.255028,7.264938,6.850635,6.850635,6.850635,6.850635,...,6.426707,6.426707,6.324354,6.324354,6.324354,6.872187,6.941663,6.512312,6.584657,6.859750
4,AK060,-0.018825,6.581416,7.065534,7.065534,6.971192,6.093346,6.093346,6.093346,6.116909,...,5.730264,5.730264,5.301631,5.301631,5.301631,5.301631,7.162291,7.162291,6.920441,6.920441

### 5. Cleaning NCEI Storm Events

This script cleans the storm event data and creates a tally of all storm event counts in each county for each year. The output, total_counts.csv, is written to 'output/processed_weather'

In [11]:
subprocess.run(["python3", "050_weather_cleaning_v06.py"])

Working on counties for:
	1990
	1991
	1992
	1993
	1994
	1995
	1996
	1997
	1998
	1999
	2000
	2001
	2002
	2003
	2004
	2005
	2006
	2007
	2008
	2009
	2010
	2011
	2012
	2013
	2014
	2015
	2016
	2017
	2018
	2019
	2020
	2021
	2022
	2023
	2024
Finished
Working on forecast zones for:
	1990
	1991
	1992
	1993
	1994
	1995
	1996
	1997
	1998
	1999
	2000
	2001
	2002
	2003
	2004
	2005
	2006
	2007
	2008
	2009
	2010
	2011
	2012
	2013
	2014
	2015
	2016
	2017
	2018
	2019
	2020
	2021
	2022
	2023
	2024
Finished

CompletedProcess(args=['python3', '050_weather_cleaning_v06.py'], returncode=0)

In [12]:
pd.read_csv('output/processed_weather/total_counts.csv').tail()

,STATE_CZ,EVENT_TYPE,CZ_TYPE,1990,1991,1992,1993,1994,1995,1996,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
2425,WA558,Ice Storm,Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2426,WA567,Heavy Snow,Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,5.0,13.0,8.0,6.0,10.0,9.0,7.0,7.0,2
2427,WA568,Heavy Snow,Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,3.0,4.0,6.0,3.0,6.0,10.0,10.0,6.0,1
2428,WA569,Heavy Snow,Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2.0,5.0,9.0,7.0,7.0,6.0,6.0,2.0,1
2429,WA569,High Wind,Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

### 6. Weather Frequency by County

Using the cleaned NCEI data (total_counts.csv) this script sums all storm events by county for each year of weather data and records the results to cnty_storm_history.csv. It also uses the GLM Poisson Regressor to fit a line to the count data and records the rate of change of storm events and the associated "p value" for measuring statistical signifigance. The output, cnty_storm_history.csv is written to 'output/processed_weather/'

In [13]:
subprocess.run(["python3", "060_weather_frequency_cnty_v02.py"])

Calculating storm events by county...
Finished

CompletedProcess(args=['python3', '060_weather_frequency_cnty_v02.py'], returncode=0)

In [14]:
pd.read_csv('output/processed_weather/cnty_storm_history.csv').head()

,ST_CNTY,STORM_RATE,P_VAL,1990,1991,1992,1993,1994,1995,1996,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,AK016,-0.068383,2.213125e-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,5.0,5.0,6.0,6.0,5
1,AK050,0.017570,1.198681e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,1.0,1.0,1.0,4.0,7.0,11.0,12.0,8.0,15
2,AL261,0.040787,4.581221e-16,NaN,NaN,NaN,NaN,3.0,17.0,7.0,...,32.0,33.0,29.0,10.0,32.0,20.0,30.0,35.0,37.0,24
3,AL262,0.041599,3.994004e-14,12.0,5.0,8.0,2.0,5.0,19.0,9.0,...,9.0,7.0,7.0,3.0,12.0,17.0,27.0,36.0,37.0,28
4,AL263,0.040787,4.581221e-16,NaN,NaN,NaN,NaN,3.0,17.0,7.0,...,32.0,33.0,29.0,10.0,32.0,20.0,30.0,35.0,37.0,24

### 7. Cleaning & Analyzing Census Data

Using the county census data, this script calculates the ratio of the county population in 2021 over the county population in 2011. The output, population_by_county.csv, is written to 'output/census/'

In [15]:
subprocess.run(["python3", "070_census_v03.py"])

CompletedProcess(args=['python3', '070_census_v03.py'], returncode=0)

In [16]:
pd.read_csv('output/census/population_by_county.csv').head()

  ST_CNTY  POPESTIMATE2021  POPESTIMATE2011  POP_CHANGE     RATIO
0   AL003           239294         186727.0     52567.0  0.219675
1   AL097           413073         412989.0        84.0  0.000203
2   AK013             3398           3183.0       215.0  0.063273
3   AK016             5059           5541.0      -482.0 -0.095276
4   AK020           288121         295907.0     -7786.0 -0.027023

### 8. Compile All County Data & Assign Flags for Each Risk Factor

The final script below pulls in all county data including mean bridge age, median bridge age, rate of change of bridge ratings over time, storm frequency rate of change, storm frequence p-values, and the population ratio before determining the vulnerability flag for each risk factor for each county. 'SIG_STORM_F' is the same values as the 'Storm Frequency', filtered for p-values less than 0.05. The output, all_county_data.csv, is written to 'output/'

In [17]:
subprocess.run(["python3", "100_all_cnty_data_v03.py"])

CompletedProcess(args=['python3', '100_all_cnty_data_v03.py'], returncode=0)

In [18]:
pd.read_csv('output/all_county_data.csv').head()

,ST_CNTY,Mean Age,Median Age,Bridge Rating,Storm Frequency,P_VAL,Population Ratio,SIG_STRM_F,Aging Bridges,Rating Decreasing,Storms Increasing,Population Increasing,SUM_FLAGS
0,AK013,27.812500,24.0,0.008642,NaN,NaN,0.063273,NaN,0,0,0,1,1
1,AK016,21.250000,20.5,-0.000548,-0.068383,2.213125e-07,-0.095276,-0.068383,0,1,0,0,1
2,AK020,40.738806,44.0,0.008939,NaN,NaN,-0.027023,NaN,1,0,0,0,1
3,AK050,28.461538,21.0,-0.006016,0.017570,1.198681e-01,0.060139,NaN,0,1,0,1,2
4,AK060,64.000000,64.0,-0.018825,NaN,NaN,-0.236277,NaN,0,1,0,0,1

### Final Analysis

To complete the analysis for this study, the author joined the all_county_data.csv data table to a shapefile with coastal county boundaries in QGIS to complete the maps in the report.